

  <!-- For reveal.js -->
  <link rel="stylesheet" href="styles/vendor/reveal/reveal.css">
  <link rel="stylesheet" href="styles/vendor/reveal/sky.css">
  <link rel="stylesheet" href="styles/vendor/reveal/zenburn.css">
  <link rel="stylesheet" href="styles/main.css">





<div class="reveal">

  <ul class=" inline unstyled mynav">
    <li><a class="active" ng-click="gotoList()"><i class="icon-list"></i> List</a></li>
    <li><a class="active" ng-click="gotoEdit()"><i class="icon-edit"></i> Edit</a></li>
  </ul>

  <div reveal class="slides" ></div>

</div>